@import 'fontes';
@import 'cores';

body {
    margin: 0;
}

#banner {
    background-color: $cor-banner;
    text-align: center;
    padding: 20px 0px 20px 0px;

    h1 {
        color: #ddd;
        font-family: $fonte-decorativa;
        font-size: 260%;
        text-shadow: 3px 3px 3px #3a0000;
    }
}

#centro {
    display: flex;
    font-family: $fonte-padrao;
}

#menu {
    font-size: 110%;
    width: 20%;
    background-color: $cor-menu;
    color: white;
    padding: 20px 0px 40px 20px;

    span {
        font-size: 150%;
        font-family: $fonte-negrito;
    }

    ul {
        list-style: none;
        padding-left: 0;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: $cor-hover;
            }
        }

        li {
            margin-bottom: 10px;
        }
    }
}

#conteudo {

    padding-right: 30px;
    width: 80%;
    background-color: $cor-conteudo;
    font-size: 110%;

    h2 {
        padding-left: 20px;
        font-family: $fonte-negrito;
        color: $cor-menu;
        margin: 10px;
    }

    // index
    #imagen {

        width: 90%;

        img {
            padding: 20px 30px;
        }
    }

    // bio
    #bio {

        display: flex;
        width: 100%;
        margin: 30px;

        img {
            width: 30%;
            border: 2px solid $cor-menu;
            padding: 20px;
        }

        #texto {

            width: 70%;

            p {
                padding: 0 20px;
                color: $cor-menu;
                width: auto;
            }
        }
    }

    // portfolio
    #port {

        display: flex;
        width: auto;
        margin: auto;
        padding: 20px;
    
        img {
            width: 30%;
            padding: 10px;
            border: 2px solid $cor-menu;
        }
    
        p {
            color: $cor-menu;
            font-size: 120%;
            padding: 30px 50px;
            width: 60%;
            margin: 20px;
        }
    }

    // contato
    #contato {

        padding: 5px 20px;

        h4 {
            color: $cor-menu;
            font-family: $fonte-negrito;
            padding-bottom: 10px;
            width: 100%;
        }

        span {
            font-family: $fonte-padrao;
            background-color: #dddddd;
            padding: 5px;
            border: 2px solid $cor-menu;
            border-radius: 12px;
            width: 100%;
        }
    }
}

#rodape {
    background-color: $cor-rodape;
    color: $cor-hover;
    padding: 20px;
    font-size: 100%;
    font-family: $fonte-negrito;
}

@media only screen and (max-width: 600px) {

    #banner {
        padding: 5px 0px;

        h1 {
            font-size: 200%;
        }
    }

    #centro,
    #menu,
    #conteudo {

        display: block;
    }

    #menu {

        padding: 1px;
        text-align: center;
        font-size: 100%;
        margin-bottom: 0;
        width: auto;

        span {
            display: none;
        }

        li {
            display: inline;
            padding: 0px 10px;
        }
    }

    #conteudo {

        width: auto;
        margin: 0;
        padding: 10px;

        h2 {
            font-size: 100%;
            margin: 0;
            padding: 10px 20px 0 20px;
        }

        #bio {
            width: auto;
            display: block;
            padding: 0px;
            margin: 10px;

            img {
                padding: 0;
                border: none;
                width: 100%;
            }

            #texto {
                width: auto;
            }

            p {
                text-align: center;
                width: 60%;
                margin: 15px;
                font-size: 100%;
            }
        }

        #port {

            display: block;
            margin: 0;
            padding: 20px;
            width: auto;
            
            img {
                width: 95%;
                border: none;
            }

            p {
                text-align: center;
                width: 100%;
                padding: 20px 0;
                margin: 0px;
            }
        }

        #contato {

            h4 {
                width: 100;
                font-size: 80%;
            }

            span {
                width: 100%;
                font-size: 90%;
            }
        }
    }

    #rodape {
        font-size: 85%;
        padding: 10px;
    }
}