extends layout

block conteudo
    #areaCadastro
        h2 Cadastro de novo usuário
        form(action="/cadastro", method="post")
            input(type="text", name="nome", placeholder="Nome", required)
            input(type="text", name="email", placeholder="E-mail", required)
            input(type="password", name="senha", placeholder="Senha", required)
            input(type="submit", value="Cadastrar")

        if mensagem
            span = mensagem