extends layout

block conteudo
    h2 Biografia

    #bio

        #imagen
            img(src="img/bio.jpg", alt="Eu")
            
        #texto
            p
                | Saudações, meu nome é Francis de Souza Veríssimo, tenho 18 anos, moro no município de
                | Nioaque - MS. Sou de Campo Grande - MS, mais cresci boa parte da minha vida em Nioaque.
            p
                | Eu gosto muito de séries e filmes (principalmente séries), músicas, jogos e também de 
                | estudar um pouco, meio que padrão. Então meu tempo vago eu gosto de assistir séries ou 
                | filmes, escutar músicas, tocar violão, jogar um videogame e estudar alguns assuntos de
                | tecnologia a parte das atividades da faculdade (quando não tem).
            p
                | Atualmente estou cursando Tecnologia em Sistemas para Internet no IFMS campus de Aquidauana.