extends layout

block conteudo
    h2 Portfólio

    .port

        #imagen
            img(src="img/port1.jpg", alt="")
        #texto
            p
                | Fiz um trabalho de faculdade em grupo com meus colegas de sala no primero
                | semestre. Na disciplina de Comunicação Linguística, nós fizemos um seminário
                | sobre a história da fotografia.

    .port

        #imagen
            img(src="img/port2.jpg", alt="")
        #texto
            p
                | Gosto bastante de desenhar, principalmente com aquele acabamaneto de 
                | grafitado. Esse desenho eu fiz já faz um bom tempo, na época do ensino
                | médio ainda. Se trata de um trabalho que fizemos na época relacionado
                | a cultura sertaneja.

    .port

        #imagen
            img(src="img/port3.jpg", alt="")
        #texto
            p
                | Maioria dos desenhos que eu fazia eram de animes que gostava de assistir.
                | Esse aqui é do Dragon Ball, fazia por hobbie mesmo.

    .port

        #imagen
            img(src="img/port4.jpg", alt="")

        #texto
            p
                | Essa pintura eu também fiz na escola, no ensino médio do segundo ano. Era um 
                | trabalho em grupo de artes relacionado com agricultura, pois na minha antiga
                | escola tinha um tipo de festival chamado de Semana do Agricultor no final do ano, e todas
                | as salas pintavam quadros.

    .port

        #imagen
            img(src="img/port5.jpg", alt="")
        #texto
            p
                | Essa pintura aqui também foi na Semana do Agricultor, desta vez foi no meu último
                | ano da escola. Os quadros nessa época eram pintados individualmente, e o meu quadro
                | acabou ficando em primeiro lugar e foi parar na camiseta da escola. 
